/* Add CSS Styling */

.odd {
    background-color: rgb(255, 153, 153) ;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#second_element{
    color: blue;
    font-size: 36px;
}

#fourth_element{
    background-color: rgb(125, 255, 125) ;
    font-weight: bold;
}

.font {
    font-size: 24px;
}